- name: Install Git
  ansible.builtin.apt:
    name:
      - git

- name: Git personal setup email
  git_config:
    name: user.email
    scope: global
    value: "bogdan@riadig.com"

- name: Git personal setup name
  git_config:
    name: user.name
    scope: global
    value: "Bogdan Nitica"
